@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

div {
    max-width: 100%;
}
form label {
    font-weight: bold;
}

small{
    font-size:75%;
}

.content {
    height: 100%;
    margin: 0 auto;
}

.col-0-5 {
    -ms-flex: 0 0 4.1666665%;
    flex: 0 0 4.1666665;
    max-width: 4.1666665%
}

.btn-sm-link {
}

.btn-sm-link:hover {
}

.btn-sm-link.focus, .btn-sm-link:focus {
}

.btn-sm-link.disabled, .btn-sm-link:disabled {
}

.btn-md-link {
}

.btn-md-link:hover {
}

.btn-md-link.focus, .btn-md-link:focus {
}

.btn-md-link.disabled, .btn-md-link:disabled {
}

.btn-lg-link {
}

.btn-lg-link:hover {
}

.btn-lg-link.focus, .btn-lg-link:focus {
}

.btn-lg-link.disabled, .btn-lg-link:disabled {
}

.btn-xl-link {
}

.btn-xl-link:hover {
}

.btn-xl-link.focus, .btn-xl-link:focus {
}

.btn-xl-link.disabled, .btn-xl-link:disabled {
}

/* trasnform */
.tt-col {
    display: flex !important;
    flex-direction: column !important;
    -ms-flex-direction: column !important;
    -webkit-flex-direction: column !important;
}

.tt-col-sm {
}

.tt-col-md {
}

.tt-col-lg {
}

.tt-col-xl {
}

.tt-row {
    display: flex !important;
    flex-direction: row !important;
    -ms-flex-direction: row !important;
    -webkit-flex-direction: row !important;
}

.tt-row-sm {
}

.tt-row-md {
}

.tt-row-lg {
}

.tt-row-xl {
}

/* visibility */
.show-only-sm {
    visibility: initial;
    display: initial;
}

.show-only-md {
    visibility: initial;
    display: initial;
}

.show-only-lg {
    visibility: initial;
    display: initial;
}

.show-only-xl {
    visibility: initial;
    display: initial;
}

.hide-only-sm {
    visibility: initial;
    display: initial;
}

.hide-only-md {
    visibility: initial;
    display: initial;
}

.hide-only-lg {
    visibility: initial;
    display: initial;
}

.hide-only-xl {
    visibility: initial;
    display: initial;
}

/* padding-all*/
.p-sm-1 {
    padding: .0rem !important
}

.p-md-1 {
    padding: .0rem !important
}

.p-lg-1 {
    padding: .0rem !important
}

.p-xl-1 {
    padding: .0rem !important
}

.p-sm-2 {
    padding: .0rem !important
}

.p-md-2 {
    padding: .0rem !important
}

.p-lg-2 {
    padding: .0rem !important
}

.p-xl-2 {
    padding: .0rem !important
}

/* font-size for default */
.fnt-default-size {
    font-size: 0.9em;
}

.fnt-default-size-xl {
}

.fnt-default-size-lg {
}

.fnt-default-size-md {
}

.fnt-default-size-sm {
}

/* font-size for titles */
.fnt-tlt {
}

.fnt-tlt-sm {
}

.fnt-tlt-md {
}

.fnt-tlt-lg {
}

.fnt-tlt-xl {
}

/* border */
.border-sm{
}

.border-md {
}

.border-lg {
}

.border-xl {
}

/* Width: 100% */
.w-100 {
    width: 100% !important;
}

.w-xl-100 {
    width: auto;
}

.w-lg-100 {
    width: auto;
}

.w-md-100 {
    width: auto;
}

.w-sm-100 {
    width: auto;
}

/* Width: 95% */
.w-95 {
    width: 95% !important;
}

.w-xl-95 {
    width: auto;
}

.w-lg-95 {
    width: auto;
}

.w-md-95 {
    width: auto;
}

.w-sm-95 {
    width: auto;
}

/* Width: 90% */
.w-90 {
    width: 90% !important;
}

.w-xl-90 {
    width: auto;
}

.w-lg-90 {
    width: auto;
}

.w-md-90 {
    width: auto;
}

.w-sm-90 {
    width: auto;
}

/* Width: 85% */
.w-85 {
    width: 85% !important;
}

.w-xl-85 {
    width: auto;
}

.w-lg-85 {
    width: auto;
}

.w-md-85 {
    width: auto;
}

.w-sm-85 {
    width: auto;
}

/* Width: 80% */
.w-80 {
    width: 80% !important;
}

.w-xl-80 {
    width: auto;
}

.w-lg-80 {
    width: auto;
}

.w-md-80 {
    width: auto;
}

.w-sm-80 {
    width: auto;
}

/* Width: 75% */
.w-75 {
    width: 75% !important;
}

.w-xl-75 {
    width: auto;
}

.w-lg-75 {
    width: auto;
}

.w-md-75 {
    width: auto;
}

.w-sm-75 {
    width: auto;
}

/* Width: 50% */
.w-50 {
    width: 50% !important;
}

.w-xl-50 {
    width: auto;
}

.w-lg-50 {
    width: auto;
}

.w-md-50 {
    width: auto;
}

.w-sm-50 {
    width: auto;
}

/* Width: 45% */
.w-md-33 {
    width: auto;
}

/* Width: 33% */
.w-33 {
    width: 33% !important;
}

.w-xl-33 {
    width: auto;
}

.w-lg-33 {
    width: auto;
}

.w-md-33 {
    width: auto;
}

.w-sm-33 {
    width: auto;
}

/* Width: 25% */
.w-25 {
    width: 25% !important;
}

.w-xl-25 {
    width: auto;
}

.w-lg-25 {
    width: auto;
}

.w-md-25 {
    width: auto;
}

.w-sm-25 {
    width: auto;
}

/* Width: 20% */
.w-20 {
    width: 20% !important;
}

.w-xl-20 {
    width: auto;
}

.w-lg-20 {
    width: auto;
}

.w-md-20 {
    width: auto;
}

.w-sm-20 {
    width: auto;
}

/* Width: 15% */
.w-15 {
    width: 15% !important;
}

.w-xl-15 {
    width: auto;
}

.w-lg-15 {
    width: auto;
}

.w-md-15 {
    width: auto;
}

.w-sm-15 {
    width: auto;
}

/* Width: 10% */
.w-10 {
    width: 10% !important;
}

.w-xl-10 {
    width: auto;
}

.w-lg-10 {
    width: auto;
}

.w-md-10 {
    width: auto;
}

.w-sm-10 {
    width: auto;
}

/* Position */
.pos-abs-only-md {
    position: initial;
}

.pos-abs-only-sm {
    position: initial;
}

/* Margin */
.mt-sm-2 {
    margin-top: initial;
}

/* Margin */
.mt-sm-2-5 {
    margin-top: initial;
}

.mt-md-2 {
    margin-top: initial;
}

/* min-size*/
.min-sm-h-180{

}

/* Small devices (portrait tablets and large phones, 384-576px and up) */
@media only screen and (min-width: 356px) and ( max-width: 576px) {
    .min-sm-h-180 {
        min-height:220px !important;
    }

    .btn-sm-link {
        font-weight: 400;
        color: #007bff;
        text-decoration: none
    }

   .btn-sm-link:hover {
       color: #0056b3;
       text-decoration: underline
   }

   .btn-sm-link.focus, .btn-sm-link:focus {
       text-decoration: underline;
       box-shadow: none
   }

   .btn-sm-link.disabled, .btn-sm-link:disabled {
       color: #6c757d;
       pointer-events: none
   }

    pt-sm-1 {
        padding-top: .25rem !important
    }

    pt-sm-2 {
        padding-top: .5rem !important
    }

    pt-sm-3 {
        padding-top: 1rem !important
    }

    pt-sm-4 {
        padding-top: 1.5rem !important
    }

    pb-sm-1 {
        padding-bottom: .25rem !important
    }

    pb-sm-2 {
        padding-bottom: .5rem !important
    }

    pb-sm-3 {
        padding-bottom: 1rem !important
    }

    pb-sm-4 {
        padding-bottom: 1.5rem !important
    }

    pl-sm-1 {
        padding-left: .25rem !important
    }

    pl-sm-2 {
        padding-left: .5rem !important
    }

    pl-sm-3 {
        padding-left: 1rem !important
    }

    pl-sm-4 {
        padding-left: 1.5rem !important
    }

    ml-sm-4 {
        margin-left: 1.5rem !important
    }

    pr-sm-1 {
        padding-right: .25rem !important
    }

    pr-sm-2 {
        padding-right: .5rem !important
    }

    pr-sm-3 {
        padding-right: 1rem !important
    }

    pr-sm-4 {
        padding-right: 1.5rem !important
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .d-sm-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }

    .d-sm-none {
        display: none !important;
    }

    .border-sm {
        border: 1px solid #dee2e6 !important;
    }

    .tt-col-sm {
        display: flex !important;
        flex-direction: column !important;
        -ms-flex-direction: column !important;
        -webkit-flex-direction: column !important;
    }

    .tt-row-sm {
        display: flex !important;
        flex-direction: row !important;
        -ms-flex-direction: row !important;
        -webkit-flex-direction: row !important;
    }

    .fnt-default-size-sm {
        font-size: 1em !important;
    }

    .content {
        max-width: 100vw !important;
    }

    .p-sm-1 {
        padding: .25rem !important
    }

    .p-sm-2 {
        padding: .5rem !important
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-95 {
        width: 95% !important;
    }

    .w-sm-90 {
        width: 90% !important;
    }

    .w-sm-85 {
        width: 85% !important;
    }

    .w-sm-80 {
        width: 80% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-33 {
        width: 33% !important;
    }

    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-20 {
        width: 20% !important;
    }

    .w-sm-15 {
        width: 15% !important;
    }

    .w-sm-10 {
        width: 10% !important;
    }

    .fnt-tlt {
        font-size: 1.6em;
    }

    .tlt-txt-center-sm {
        text-align: center !important;
    }

    .show-only-sm {
        visibility: visible !important;
        display: flex !important;
    }

    .hide-only-sm {
        visibility: hidden !important;
        display: none !important;
    }

    .pos-abs-only-sm {
        position: absolute !important;
    }

    .mt-sm-2 {
        margin-top: 5.5vh !important;
    }

    /* Margin */
    .mt-sm-2-5 {
        margin-top: 6.5vh !important;
    }

    .pb-sm-2 {
        padding-bottom: .5rem !important
    }
}

/* Medium devices (landscape tablets, 577-767px and up) */
@media only screen and (min-width: 577px) and ( max-width: 800px) {
    .d-md-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }

    .btn-md-link {
        font-weight: 400;
        color: #007bff;
        text-decoration: none
    }

    .btn-md-link:hover {
        color: #0056b3;
        text-decoration: underline
    }

    .btn-md-link.focus, .btn-md-link:focus {
        text-decoration: underline;
        box-shadow: none
    }

    .btn-md-link.disabled, .btn-md-link:disabled {
        color: #6c757d;
        pointer-events: none
    }

    .border-md {
        border: 1px solid #dee2e6 !important;
    }

    .tt-col-md {
        display: flex !important;
        flex-direction: column !important;
        -ms-flex-direction: column !important;
        -webkit-flex-direction: column !important;
    }

    .tt-row-md {
        display: flex !important;
        flex-direction: row !important;
        -ms-flex-direction: row !important;
        -webkit-flex-direction: row !important;
    }

    .fnt-default-size-md {
        font-size: 1em !important;
    }

    .content {
        max-width: 100vw !important;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .w-md-95 {
        width: 95% !important;
    }

    .w-md-90 {
        width: 90% !important;
    }

    .w-md-85 {
        width: 85% !important;
    }

    .w-md-80 {
        width: 80% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-33 {
        width: 33% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .w-md-20 {
        width: 20% !important;
    }

    .w-md-15 {
        width: 15% !important;
    }

    .w-md-10 {
        width: 10% !important;
    }

    .fnt-tlt {
        font-size: 1.6em;
    }

    .tlt-txt-center-md {
        text-align: center !important;
    }

    .show-only-md {
        visibility: visible !important;
        display: flex !important;
    }

    .hide-only-md {
        visibility: hidden !important;
        display: none !important;
    }

    .p-md-1 {
        padding: .25rem !important
    }

    .p-md-2 {
        padding: .5rem !important
    }

    .pos-abs-only-md {
        position: absolute !important;
    }

    .mt-md-2 {
        margin-top: 5.5vh !important;
    }

    .pb-md-2 {
        padding-bottom: .5rem !important
    }
}

/* Large devices (laptops/desktops, 768-1079px and up) */
@media only screen and (min-width: 801px) and ( max-width: 1200px) {
    .btn-lg-link {
        font-weight: 400;
        color: #007bff;
        text-decoration: none
    }
    
    .btn-lg-link:hover {
        color: #0056b3;
        text-decoration: underline
    }
    
    .btn-lg-link.focus, .btn-lg-link:focus {
        text-decoration: underline;
        box-shadow: none
    }
    
    .btn-lg-link.disabled, .btn-lg-link:disabled {
        color: #6c757d;
        pointer-events: none
    }

    .border-lg {
        border: 1px solid #dee2e6 !important;
    }

    .tt-col-lg {
        display: flex !important;
        flex-direction: column !important;
        -ms-flex-direction: column !important;
        -webkit-flex-direction: column !important;
    }

    .tt-row-lg {
        display: flex !important;
        flex-direction: row !important;
        -ms-flex-direction: row !important;
        -webkit-flex-direction: row !important;
    }

    .fnt-default-size-lg {
        font-size: 1em !important;
    }

    .content {
        max-width: 100vw !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-95 {
        width: 95% !important;
    }

    .w-lg-90 {
        width: 90% !important;
    }

    .w-lg-85 {
        width: 85% !important;
    }

    .w-lg-80 {
        width: 80% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-33 {
        width: 33% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-20 {
        width: 20% !important;
    }

    .w-lg-15 {
        width: 15% !important;
    }

    .w-lg-10 {
        width: 10% !important;
    }

    .fnt-tlt {
        font-size: 1.6em;
    }

    .tlt-txt-center-lg {
        text-align: center !important;
    }

    .show-only-lg {
        visibility: visible !important;
        display: flex !important;
    }

    .hide-only-lg {
        visibility: hidden !important;
        display: none !important;
    }

    .p-lg-1 {
        padding: .25rem !important
    }

    .p-lg-2 {
        padding: .5rem !important
    }

    .pb-lg-2 {
        padding-bottom: .5rem !important
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
    .btn-xl-link {
        font-weight: 400;
        color: #007bff;
        text-decoration: none
    }

    .btn-xl-link:hover {
        color: #0056b3;
        text-decoration: underline
    }

    .btn-xl-link.focus, .btn-xl-link:focus {
        text-decoration: underline;
        box-shadow: none
    }

    .btn-xl-link.disabled, .btn-xl-link:disabled {
        color: #6c757d;
        pointer-events: none
    }

    .border-xl {
        border: 1px solid #dee2e6 !important;
    }

    .tt-col-xl {
        display: flex !important;
        flex-direction: column !important;
        -ms-flex-direction: column !important;
        -webkit-flex-direction: column !important;
    }

    .tt-row-xl {
        display: flex !important;
        flex-direction: row !important;
        -ms-flex-direction: row !important;
        -webkit-flex-direction: row !important;
    }

    .fnt-default-size-xl {
        font-size: 1em !important;
    }

    .content {
        max-width: 75vw !important;
    }

    .w-xl-100 {
        width: 100% !important;
    }

    .w-xl-95 {
        width: 95% !important;
    }

    .w-xl-90 {
        width: 90% !important;
    }

    .w-xl-85 {
        width: 85% !important;
    }

    .w-xl-80 {
        width: 80% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-33 {
        width: 33% !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-20 {
        width: 20% !important;
    }

    .w-xl-15 {
        width: 15% !important;
    }

    .w-xl-10 {
        width: 10% !important;
    }

    .fnt-tlt {
        font-size: 1.9em;
    }

    .tlt-txt-center-xl {
        text-align: center !important;
    }

    .show-only-xl {
        visibility: visible !important;
        display: flex !important;
    }

    .hide-only-xl {
        visibility: hidden !important;
        display: none !important;
    }

    .p-xl-1 {
        padding: .25rem !important
    }

    .p-xl-2 {
        padding: .5rem !important
    }

    .pb-xl-2 {
        padding-bottom: .5rem !important
    }
}